body {
    font-family: Arial, sans-serif;
    background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
}

div {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: #ffffff;
}

#title {
    text-align: center;
    background-color: #f7f7f7;
    padding: 0.01%;
}

.video-list-wrap {
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 93%;
}

.video-list {
    display: flex;
    overflow-x: scroll;
}


.video-list::-webkit-scrollbar {
    display: none;
}

.video-list div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    flex: none;
}

.video-list div a {
    height: 80vh;
    align-content: center;
    width: 30vw;
    transition: transform 1s, background-color 1s;
    cursor: pointer;
}

.video-list div a:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 1);
}